

<div th:fragment="content" xmlns:th="http://www.w3.org/1999/xhtml">
    <footer class="footer">
        <div class="container-fluid">
            <nav class="pull-left">
                <ul>

                    <li>
                        <a href="">
                            Главная
                        </a>
                    </li>
                    <li>
                        <a href="">
                            О нас
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright pull-right">
                &copy; Olivet Lab <i class="fa fa-heart heart"></i></a>
            </div>
        </div>
    </footer>

</div>
