<!doctype html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{main_layout}">
<head>
    <title>OlivetLab - профиль пользователя</title>

</head>
<body>

    <div layout:fragment="content" class="container">
            <!-- Latest sensors data -->
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="card">
                        <div class="content">
                            <div class="row">
                                <div class="col-xs-5">
                                    <div class="icon-big icon-warning text-center">
                                        <i class="ti-dashboard"></i>
                                    </div>
                                </div>
                                <div class="col-xs-7">
                                    <div class="numbers">
                                        <p>Почва</p>
                                        <span th:text="${soilState} + '%'"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="footer">
                                <hr />
                                <div class="stats">
                                    <i class="ti-reload"></i> Обновить
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card">
                        <div class="content">
                            <div class="row">
                                <div class="col-xs-5">
                                    <div class="icon-big icon-success text-center">
                                        <i class="ti-cloud"></i>
                                    </div>
                                </div>
                                <div class="col-xs-7">
                                    <div class="numbers">
                                        <p>Влажность</p>
                                        <span th:text="${airHumidity} + '%'"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="footer">
                                <hr />
                                <div class="stats">
                                    <i class="ti-reload"></i> Обновить
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card">
                        <div class="content">
                            <div class="row">
                                <div class="col-xs-5">
                                    <div class="icon-big icon-danger text-center">
                                        <i class="ti-paint-bucket"></i>
                                    </div>
                                </div>
                                <div class="col-xs-7">
                                    <div class="numbers">
                                        <p>Вода</p>
                                        <span th:text="${waterTemperature}"></span>&deg;
                                    </div>
                                </div>
                            </div>
                            <div class="footer">
                                <hr />
                                <div class="stats">
                                    <i class="ti-reload"></i> Обновить
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card">
                        <div class="content">
                            <div class="row">
                                <div class="col-xs-5">
                                    <div class="icon-big icon-info text-center">
                                        <i class="ti-mouse"></i>
                                    </div>
                                </div>
                                <div class="col-xs-7">
                                    <div class="numbers">
                                        <p>Температура</p>
                                        <span th:text="${airTemperature}"></span>&deg;
                                    </div>
                                </div>
                            </div>
                            <div class="footer">
                                <hr />
                                <div class="stats">
                                    <i class="ti-reload"></i> Обновить
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- graph with last 5 sensors values-->
            <div class="row">

                <div class="col-md-8">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Все показатели</h4>
                            <p class="category">24 Години</p>
                        </div>
                        <div class="content">
                            <div id="chartHours" class="ct-chart"></div>
                            <div class="footer">
                                <div class="chart-legend">
                                    <i class="fa fa-circle text-info"></i> Влажность
                                    <i class="fa fa-circle text-danger"></i> Температура
                                    <i class="fa fa-circle text-warning"></i> Движение
                                </div>
                                <hr>
                                <div class="stats">
                                    <i class="ti-reload"></i> Обновлено 1 час назад
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Полив</h4>
                            <p class="category">Последний: 21.02.2019 13:55</p>
                        </div>
                        <div class="content">

                            <form th:action="@{/greenhouse}" th:object="${currentLocation}" method="post" id="locationForm">

                                <input type="hidden" class="form-control border-input" th:field="*{id}">

                                <div class="form-group">
                                    <label class="checkbox" for="cbAutoFill">
                                        <input type="checkbox" value="" id="cbAutoFill" data-toggle="checkbox" th:field="*{enableAutoWatering}">
                                        Автоматический набор воды
                                    </label>
                                </div>

                                <div class="form-group">
                                    <label class="checkbox" for="cbAutoWatering">
                                        <input type="checkbox" value="" id="cbAutoWatering" data-toggle="checkbox" th:field="*{enableAutoFill}">
                                        Автоматический полив
                                    </label>
                                </div>

                                <div class="form-group" >
                                    <label>Начать полив при влажности меньше:</label>
                                    <input type="text" class="form-control border-input" placeholder="%" th:field="*{minHumidity}">
                                </div>

                                <hr/>

                                <div class="form-group" >
                                    <label>Продолжительность полива:</label>
                                    <input type="text" class="form-control border-input" placeholder="Секунды" th:field="*{wateringIntervalInSeconds}" >
                                </div>

                                <div class="text-center">
                                    <button type="submit" class="btn btn-success btn-fill btn-wd">Сохранить</button>
                                </div>

                                <br/>
                            </form>
                            <div class="footer">
                                <hr>
                                <div class="stats">
                                    <i class="ti-reload"></i> Оновлено 3 мин назад
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- history of actions -->

            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">История оповещений</h4>
                        <p class="category">Информация про показатели и история поливов</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-striped">
                            <thead>
                            <th>ID</th>
                            <th>Время</th>
                            <th>Описание</th>
                            </thead>
                            <tbody>

                            <th:block th:each="notification : ${notifications}">
                                <tr>
                                    <td th:text="${notification.id}">...</td>
                                    <td th:text="${notification.time}">...</td>
                                    <td th:text="${notification.text}"></td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
    </div>

</div>


</body>

<!--   Core JS Files   -->
<script src="/js/jquery.min.js" type="text/javascript"></script>
<script src="/js/bootstrap.min.js" type="text/javascript"></script>

<!--  Checkbox, Radio & Switch Plugins -->
<script src="/js/bootstrap-checkbox-radio.js"></script>

<!--  Charts Plugin -->
<script src="/js/chartist.min.js"></script>

<!--  Notifications Plugin    -->
<script src="/js/bootstrap-notify.js"></script>

<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

<!-- Paper Dashboard Core javascript and methods for Demo purpose -->
<script src="/js/paper-dashboard.js"></script>

<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
<script src="/js/demo.js"></script>

<script type="text/javascript" th:inline="javascript">
  var soilStates = /*[[${soilStates}]]*/ [];
  console.log(soilStates);
</script>

<script type="text/javascript">
    	$(document).ready(function(){
            demo.initChartist(soilStates);

    	});

</script>


</html>