

    <div th:fragment="header_navbar" xmlns:th="http://www.w3.org/1999/xhtml">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#">Управление</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="ti-direction-alt"></i>
                                <p class="location"></p>
                                <p>Локации</p>
                                <b class="caret"></b>
                            </a>
                            <!--ul class="dropdown-menu">
                                <li><a href="/greenhouse">Теплица</a></li>
                                <li><a href="/greenhouse">Передняя клумба</a></li>
                                <li><a href="/greenhouse">Задний двор</a></li>
                            </ul-->
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="ti-bell"></i>
                                <p class="notification"></p>
                                <p>Уведомления</p>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <th:block th:each="notification : ${notReadNotifications}">
                                    <li><a href="#" th:text="${notification.text}">Нет уведомлений</a></li>
                                    </tr>
                                </th:block>
                            </ul>
                        </li>

                        <li>
                            <a href="/logout">
                                <i class="ti-layout-placeholder"></i>
                                <p>Выйти</p>
                            </a>
                        </li>

                    </ul>

                </div>
            </div>
        </nav>

    </div>