<div th:fragment="side_menu" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="sidebar" data-background-color="white" data-active-color="danger">

        <!--
            Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
            Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
        -->

        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="#" class="simple-text">
                    OLIVET Lab
                </a>
            </div>

            <ul class="nav">
                <!--li th:classappend="${#httpServletRequest.getRequestURI() == '/smarthouse' ? 'active':''}">
                    <a href="/smarthouse">
                        <i class="ti-home"></i>
                        <p>Умный дом</p>
                    </a>
                </li-->

                <li th:classappend="${#httpServletRequest.getRequestURI() == '/gallery' ? 'active':''}">
                    <a href="/gallery">
                        <i class="ti-camera"></i>
                        <p>Галерея</p>
                    </a>
                </li>

                <li th:classappend="${#httpServletRequest.getRequestURI() == '/greenhouse' ? 'active':''}">
                    <a href="/greenhouse">
                        <i class="ti-paint-bucket"></i>
                        <p>Полив</p>
                    </a>
                </li>

                <li th:classappend="${#httpServletRequest.getRequestURI() == '/profile' ? 'active':''}">
                    <a href="/profile">
                        <i class="ti-user"></i>
                        <p>Профиль</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</div>