<!doctype html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{main_layout}">
<head>
    <title>OlivetLab - профиль пользователя</title>

</head>
<body>

<div class="wrapper">
   <div layout:fragment="content" class="container">
       <div class="row">
           <div class="card">
               <div class="header">
                   <h3 class="title">Редактирование профиля</h3>
               </div>
               <div th:if="${successMessage}" class="alert alert-success" style="margin:10px;">
                   <span th:text="${successMessage}"></span>
               </div>
               <div class="content">
                   <form th:action="@{/profile}" th:object="${user}" method="post">
                       <div class="row">
                           <div class="col-md-5">
                               <div class="form-group">
                                   <label>ИД пользователя</label>
                                   <input type="text" class="form-control border-input" disabled placeholder="ИД пользователя" th:field="*{id}">
                               </div>
                           </div>
                           <div class="col-md-3">
                               <div class="form-group">
                                   <label>Имя пользователя</label>
                                   <input type="text" class="form-control border-input" placeholder="Имя пользователя" th:field="*{name}">
                               </div>
                           </div>
                           <div class="col-md-4">
                               <div class="form-group">
                                   <label for="exampleInputEmail1">Email адрес</label>
                                   <input id="exampleInputEmail1" name="exampleInputEmail1" type="email" class="form-control border-input" placeholder="Email" th:field="*{email}">
                               </div>
                           </div>
                       </div>

                       <div class="row">
                           <div class="col-md-12">
                               <label class="checkbox" for="checkbox2">

                                   <input type="checkbox" value="" id="checkbox2" data-toggle="checkbox" th:field="*{useGreenhouse}">

                                   Использовать модуль "Теплица"

                               </label>


                           </div>
                       </div>

                       <div class="row">
                           <div class="col-md-12">
                               <label class="checkbox" for="checkbox3">

                                   <input type="checkbox" value="" id="checkbox3" data-toggle="checkbox" th:field="*{useHub}">

                                   Использовать модуль "Хаб"

                               </label>


                           </div>
                       </div>

                       <div class="row">
                           <div class="col-md-12">
                               <label class="checkbox" for="checkbox4">
                                   <input type="checkbox" value="" id="checkbox4" data-toggle="checkbox" th:field="*{useSmartCamera}">
                                   Использовать модуль "SmartCamera"
                               </label>
                           </div>
                       </div>

                       <hr/>

                       <h4>Настройка теплицы</h4>

                       <div class="row">
                           <div class="col-md-6">
                               <div class="form-group">
                                   <label>Частота обновления данных</label>
                                   <input type="text" class="form-control border-input" placeholder="Время в минутах" value="30" th:field="*{greenhouseRefreshTime}">
                               </div>
                           </div>
                           <div class="col-md-6">
                               <div class="form-group">
                                   <label>Минимальная влажность</label>
                                   <input type="text" class="form-control border-input" placeholder="Влажность в %" value="35" th:field="*{minSoilHumidity}">
                               </div>
                           </div>
                       </div>


                       <div class="row">
                           <div class="col-md-12">
                               <label class="checkbox" for="cbSoilNotification">
                                   <input type="checkbox" value="" id="cbSoilNotification" data-toggle="checkbox" th:field="*{notifyMinSoil}">
                                   Уведомлять о низкой влажности почвы
                               </label>
                           </div>
                       </div>

                       <div class="row">
                           <div class="col-md-12">
                               <label class="checkbox" for="cbMotionNotification">
                                   <input type="checkbox" value="" id="cbMotionNotification" data-toggle="checkbox" th:field="*{notifyMotion}">
                                   Уведомлять о движении
                               </label>
                           </div>
                       </div>


                       <hr/>

                       <div class="text-center">
                           <button type="submit" class="btn btn-info btn-fill btn-wd">Сохранить</button>
                       </div>
                       <div class="clearfix"></div>
                   </form>
               </div>
           </div>
       </div>
       </div>
   </div>

    </div>
</div>


</body>

<!--   Core JS Files   -->
<script src="/js/jquery.min.js" type="text/javascript"></script>
<script src="/js/bootstrap.min.js" type="text/javascript"></script>

<!--  Checkbox, Radio & Switch Plugins -->
<script src="/js/bootstrap-checkbox-radio.js"></script>

<!--  Charts Plugin -->
<script src="/js/chartist.min.js"></script>

<!--  Notifications Plugin    -->
<script src="/js/bootstrap-notify.js"></script>

<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

<!-- Paper Dashboard Core javascript and methods for Demo purpose -->
<script src="/js/paper-dashboard.js"></script>

<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
<script src="/js/demo.js"></script>


</html>