<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/out_style.css" rel="stylesheet">
    <title>OlivetLab - страница регистрации</title>
</head>
<body>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container login-body">
    <div class="row">
        <div class="col-md-4 col-md-offset-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-lock"></span>  Регистрация</div>

                <div th:if="${successMessage}" class="alert alert-success" style="margin:10px;">
                    <span th:text="${successMessage}"></span>
                </div>

                <div class="panel-body">
                    <form accept-charset="UTF-8" role="form" method="post" th:action="@{/registration}" th:object="${user}">
                        <div class="form-group">
                            <label for="email" class="col-sm-3 control-label">
                                Email</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" id="email" th:field="*{email}" placeholder="Email" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="username" class="col-sm-3 control-label">
                                Имя</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="username" th:field="*{name}" placeholder="Имя пользователя" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password" class="col-sm-3 control-label">
                                Пароль</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" id="password" th:field="*{password}" placeholder="Пароль" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"/>
                                        Запомнить
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group last">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-success btn-sm">
                                    Создать</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                    Есть акаунт? <a href="/login">Страница входа >> </a></div>
            </div>
        </div>
    </div>
</div>


</body>
</html>