<!doctype html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{main_layout}">
<head>
    <title>OlivetLab - профиль пользователя</title>

</head>
<body>

    <div layout:fragment="content" class="container">
            <!-- Latest sensors data -->



            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="card">
                        <div class="content">
                            <div class="row">
                                <div class="col-xs-5">
                                    <div class="icon-big icon-info text-center">
                                        <i class="ti-mouse"></i>
                                    </div>
                                </div>
                                <div class="col-xs-7">
                                    <div class="numbers">
                                        <p>Температура</p>
                                        <!--span th:text="${soilState} + '%'"></span-->
                                        <span>18</span>&deg;
                                    </div>
                                </div>
                            </div>
                            <div class="footer">
                                <hr />
                                <div class="stats">
                                    <i class="ti-reload"></i> Обновить
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card">
                        <div class="content">
                            <div class="row">
                                <div class="col-xs-5">
                                    <div class="icon-big icon-success text-center">
                                        <i class="ti-cloud"></i>
                                    </div>
                                </div>
                                <div class="col-xs-7">
                                    <div class="numbers">
                                        <p>Влажность</p>
                                        <!--span th:text="${airHumidity} + '%'"></span-->
                                        <span>40%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="footer">
                                <hr />
                                <div class="stats">
                                    <i class="ti-reload"></i> Обновить
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card">
                        <div class="content">
                            <div class="row">
                                <div class="col-xs-5">
                                    <div class="icon-big icon-danger text-center">
                                        <i class="ti-lock"></i>
                                    </div>
                                </div>
                                <div class="col-xs-7">
                                    <div class="numbers">
                                        <p>Двери</p>
                                        <!--span th:text="${waterTemperature}"></span-->
                                        <span>5</span>
                                    </div>
                                </div>
                            </div>
                            <div class="footer">
                                <hr />
                                <div class="stats">
                                    <i class="ti-reload"></i> Обновить
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card">
                        <div class="content">
                            <div class="row">
                                <div class="col-xs-5">
                                    <div class="icon-big icon-info text-center">
                                        <i class="ti-signal"></i>
                                    </div>
                                </div>
                                <div class="col-xs-7">
                                    <div class="numbers">
                                        <p>Предупреждения</p>
                                        <!--span th:text="${airTemperature}"></span-->
                                        <span>3</span>
                                    </div>
                                </div>
                            </div>
                            <div class="footer">
                                <hr />
                                <div class="stats">
                                    <i class="ti-reload"></i> Обновить
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- graph with last 5 sensors values-->

            <!-- history of actions -->

            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">История оповещений</h4>
                        <p class="category">Информация про показатели и история поливов</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-striped">
                            <thead>
                            <th>ID</th>
                            <th>Время</th>
                            <th>Описание</th>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1223</td>
                                <td>17.03.2019 22:20</td>
                                <td>Сработал датчик затопления!</td>
                            </tr>
                            <tr>
                                <td>1223</td>
                                <td>17.03.2019 22:20</td>
                                <td>Сработал датчик дыма!</td>
                            </tr>

                            <tr>
                                <td>1223</td>
                                <td>17.03.2019 22:20</td>
                                <td>Влажность очень высокая</td>
                            </tr>

                            <!--th:block th:each="notification : ${notifications}">
                                <tr>
                                    <td th:text="${notification.id}">...</td>
                                    <td th:text="${notification.time}">...</td>
                                    <td th:text="${notification.text}"></td>
                                </tr>
                            </th:block>
                            </tbody-->
                        </table>

                    </div>
                </div>
            </div>
    </div>

</div>


</body>

<!--   Core JS Files   -->
<script src="/js/jquery.min.js" type="text/javascript"></script>
<script src="/js/bootstrap.min.js" type="text/javascript"></script>

<!--  Checkbox, Radio & Switch Plugins -->
<script src="/js/bootstrap-checkbox-radio.js"></script>

<!--  Charts Plugin -->
<script src="/js/chartist.min.js"></script>

<!--  Notifications Plugin    -->
<script src="/js/bootstrap-notify.js"></script>

<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

<!-- Paper Dashboard Core javascript and methods for Demo purpose -->
<script src="/js/paper-dashboard.js"></script>

<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
<script src="/js/demo.js"></script>

</html>